@page
@model FiorWebService.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="ru">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css" >
</head>
<body>
<div>
    
</div>
</body>
</html>